@using LastFmStatistics.Service.Contract.Models
@{
    ViewData["Title"] = "LastFm Statistics";
}
@model List<Scrobble>;

<h2>LastFm Statistics</h2>
<form id="myForm">
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Enter UserName">
    </div>
    <button type="button" class="btn btn-primary" id="submitBtn">Submit</button>
</form>


<table class="table">
    <thead>
        <tr>
            <th scope="col">Artist</th>
            <th scope="col">Album</th>
            <th scope="col">Song</th>
            <th scope="col">Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var scrobble in Model)
        {
            <tr>
                <th scope="row">1</th>
                <td>@scrobble.Artist</td>
                <td>@scrobble.Album</td>
                <td>@scrobble.Title</td>
                <td>@scrobble.DateTime</td>
            </tr>
        }       
    </tbody>
</table>
